//Miga de pan
#box-bread-brumb, .bread-crumb {
    ul {
        li {
            vertical-align: baseline;
            display: inline-block;
            margin: 0 5px 0 0;
            padding: 0;
            &:before {
                content: "";
            }
            &:first-child {
                a {
                    font-size: 0;
                    &::after {
                        content: 'Inicio >';
                        font-family: $basefont;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 14px;
                        @media screen and (max-width: $breakpoint-tablet) {
                            font-size: 12px;
                        }
                    }
                }
            }
            a {
                font-family: $basefont;
                color: $graybg1;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                @media screen and (max-width: $breakpoint-tablet) {
                    font-size: 12px;
                }
                &::after {
                    content: ' >';
                    font-family: $basefont;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 14px;
                    @media screen and (max-width: $breakpoint-tablet) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.static-page-container, .contact, .pedidos-page-body, .garantia-page-body, .seguro-page-body, .deseos-page-body, .tuiss-search-result {
    .bread-crumb {
        margin-top: 13px;
        @media screen and (max-width: $breakpoint-tablet) {
            padding-bottom: 15px;
        }
    }
}