//mediaqueries
$breakpoint-tablet: 740px;
$breakpoint-desktop: 1025px;

//colors
$black: #000;
$white: #fff;
$greentuiss: #b5cf52;
$gray: #575756;
$graybg1: #9d9d9c;
$graybg2: #f0f0f0;
$red: #ff0000;

//Font
$basefont: 'TT Norms Pro';